openapi: 3.1.0
info:
  title: MixMates Listener API
  version: "1.0"
  description: |
    ## What is MixMates?

    [MixMates](https://mixmat.es) helps friends share music across Spotify, Tidal, and
    Apple Music. Paste a link from one platform, get the matching track on every other
    platform — instantly. Create groups, build shared playlists, and discover what your
    friends are listening to.

    ## What is the Listener?

    The Listener is MixMates' audio recognition feature. Hold your phone up to a song
    playing around you, and MixMates identifies it, finds it on every streaming platform,
    and saves it to your listen queue. Share your discoveries with your groups, or just
    keep a personal log of everything you hear.

    ## What can you build?

    This API lets you build your own Listener app for any platform — Android, iOS,
    desktop, wearable, anything. Record audio, submit it, get back the track with
    cross-platform links. Manage your listen queue and share to your groups
    programmatically.

    MixMates provides open-source reference apps for
    [Android](https://github.com/jbaddnz/mixmates-listener-android) and
    [iOS](https://github.com/jbaddnz/mixmates-listener-ios).

    ## Getting started

    **For native apps (recommended):**

    1. Use Sign in with Apple (iOS) or Sign in with Google (Android) via
       `POST /auth/apple` or `POST /auth/google`
    2. The endpoint returns a Bearer token — store it securely
    3. If `listen_enabled` is false, guide the user to upgrade at mixmat.es
    4. Start building

    **For web or manual setup:**

    1. Sign up at [mixmat.es](https://mixmat.es)
    2. Upgrade to a paid plan (from $5/mo) to unlock audio recognition
    3. Enable Listen in Settings
    4. Generate a Listen key (Bearer token) in your Listen group settings
    5. Start building

    ## Authentication

    Most endpoints require a Bearer token:

    ```
    Authorization: Bearer <token>
    ```

    **Unauthenticated endpoints:** `/health`, `/auth/apple`, `/auth/google`

    Obtain a token via native sign-in (`POST /auth/apple` or `POST /auth/google`),
    from MixMates Settings on the web, or via `POST /auth/token` (session auth).
    Recognition and history endpoints require a paid MixMates account with Listen enabled.

    ## Rate Limits

    Every response includes rate limit headers:

    ```
    X-RateLimit-Limit: 20
    X-RateLimit-Remaining: 17
    X-RateLimit-Reset: 1709654400
    ```

    Recognition is rate limited per-user (20/hr paid, 100/hr VIP) and globally (200/day).
    `429` responses include a `Retry-After` header.

    ## Response Envelope

    Success responses use `{ data, meta }`. Error responses use `{ error, meta }`.
    Every response includes a unique `request_id` for debugging.
  contact:
    name: MixMates
    url: https://mixmat.es
  license:
    name: Proprietary
    url: https://mixmat.es/terms

servers:
  - url: https://mixmat.es/api/v1/listener
    description: Production

security:
  - BearerAuth: []

paths:
  /health:
    get:
      operationId: getHealth
      summary: Health check
      description: Returns API status. No authentication required.
      security: []
      responses:
        "200":
          description: API is healthy
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        example: ok
                      version:
                        type: string
                        example: "1"
                  meta:
                    $ref: "#/components/schemas/Meta"

  /recognize:
    post:
      operationId: recognizeAudio
      summary: Recognise audio
      description: |
        Submit an audio clip for recognition. The API identifies the track,
        resolves cross-platform links, and saves the result to your listen queue.
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              required: [audio]
              properties:
                audio:
                  type: string
                  format: binary
                  description: Audio file (max 5MB)
      responses:
        "200":
          description: Recognition result
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [saved, duplicate, no_match, no_links]
                      source:
                        type: ["string", "null"]
                        enum: [recognition, search, null]
                      history_id:
                        type: ["string", "null"]
                        description: History entry ID. Present for saved and duplicate, null otherwise. Use with POST /history/{id}/report.
                      track:
                        $ref: "#/components/schemas/Track"
                  meta:
                    $ref: "#/components/schemas/Meta"
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: Recognition service unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /resolve:
    post:
      operationId: resolveUrl
      summary: Resolve a music URL
      description: |
        Takes a Spotify, Tidal, or Apple Music track URL and returns
        cross-platform links. The track is saved to the specified group
        (or your listen group by default).
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [url]
              properties:
                url:
                  type: string
                  format: uri
                  description: Spotify, Tidal, or Apple Music track URL
                  example: "https://open.spotify.com/track/4uLU6hMCjMI75M1A2tKUQC"
                group_id:
                  type: ["string", "null"]
                  description: Target group ID. Defaults to listen group if omitted.
                  example: "abc123"
      responses:
        "200":
          description: Track resolved
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      status:
                        type: string
                        enum: [saved, duplicate, no_links]
                      source:
                        type: string
                        enum: [link]
                      history_id:
                        type: ["string", "null"]
                        description: History entry ID. Present for saved and duplicate, null for no_links.
                      track:
                        $ref: "#/components/schemas/Track"
                  meta:
                    $ref: "#/components/schemas/Meta"
          headers:
            X-RateLimit-Limit:
              $ref: "#/components/headers/X-RateLimit-Limit"
            X-RateLimit-Remaining:
              $ref: "#/components/headers/X-RateLimit-Remaining"
            X-RateLimit-Reset:
              $ref: "#/components/headers/X-RateLimit-Reset"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
        "429":
          $ref: "#/components/responses/RateLimited"
        "502":
          description: Conversion pipeline failed
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"

  /history:
    get:
      operationId: getHistory
      summary: List listen queue
      description: Paginated list of recognised tracks in your listen queue.
      parameters:
        - name: cursor
          in: query
          schema:
            type: string
          description: Pagination cursor from previous response
        - name: limit
          in: query
          schema:
            type: integer
            minimum: 1
            maximum: 50
            default: 20
          description: Number of items to return
      responses:
        "200":
          description: History items
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/HistoryItem"
                      cursor:
                        type: ["string", "null"]
                      has_more:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /history/{id}:
    get:
      operationId: getHistoryItem
      summary: Get single history entry
      parameters:
        - $ref: "#/components/parameters/HistoryId"
      responses:
        "200":
          description: History item with share info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/HistoryItemDetail"
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
    delete:
      operationId: deleteHistoryItem
      summary: Remove from listen queue
      parameters:
        - $ref: "#/components/parameters/HistoryId"
      responses:
        "200":
          description: Entry deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"

  /history/{id}/share:
    post:
      operationId: shareHistoryItem
      summary: Share to groups
      description: Share a listen queue entry to one or more of your groups.
      parameters:
        - $ref: "#/components/parameters/HistoryId"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [group_ids]
              properties:
                group_ids:
                  type: array
                  items:
                    type: string
                  maxItems: 20
                  description: Group IDs to share to
      responses:
        "200":
          description: Share results
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      results:
                        type: array
                        items:
                          type: object
                          properties:
                            group_id:
                              type: string
                            status:
                              type: string
                              enum: [shared, duplicate]
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "403":
          description: Not a member of target group

  /history/{id}/report:
    post:
      operationId: reportHistoryItem
      summary: Report wrong match
      description: Report a recognition result as incorrect. Uses the same reporting system as the web app.
      parameters:
        - $ref: "#/components/parameters/HistoryId"
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                reason:
                  type: ["string", "null"]
                  description: Optional free text reason (e.g. "wrong_match", "wrong_version")
      responses:
        "201":
          description: Report submitted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      reported:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"
        "404":
          $ref: "#/components/responses/NotFound"
        "409":
          description: Already reported
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
        "400":
          $ref: "#/components/responses/BadRequest"

  /groups:
    get:
      operationId: getGroups
      summary: List your groups
      description: |
        Returns your groups for share target selection.
        Excludes the Listen group. Read-only — group CRUD is in the web app.
      responses:
        "200":
          description: Group list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Group"
                  meta:
                    $ref: "#/components/schemas/Meta"

  /recordings:
    get:
      operationId: getRecordings
      summary: List saved recordings
      description: Metadata for your saved audio recordings (max 5). Recordings expire after 30 days.
      responses:
        "200":
          description: Recording list
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      items:
                        type: array
                        items:
                          $ref: "#/components/schemas/Recording"
                  meta:
                    $ref: "#/components/schemas/Meta"
    delete:
      operationId: deleteRecordings
      summary: Delete all recordings
      responses:
        "200":
          description: Recordings deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deleted:
                        type: integer
                  meta:
                    $ref: "#/components/schemas/Meta"

  /recordings/{recording_id}:
    get:
      operationId: getRecording
      summary: Download recording audio
      description: Returns the raw audio blob with correct Content-Type. Not wrapped in JSON.
      parameters:
        - name: recording_id
          in: path
          required: true
          schema:
            type: string
          description: Recording ID from the recordings list
      responses:
        "200":
          description: Audio blob
          content:
            audio/webm:
              schema:
                type: string
                format: binary
        "404":
          $ref: "#/components/responses/NotFound"

  /push/register:
    post:
      operationId: registerPush
      summary: Register for push notifications
      description: |
        Register an APNs device token to receive push notifications for
        group track adds and notes. Call on every app launch (tokens can
        change). Upserts — same token re-registers without error.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [device_token]
              properties:
                device_token:
                  type: string
                  description: APNs device token (hex-encoded)
                  example: "a1b2c3d4e5f6..."
      responses:
        "200":
          description: Token registered
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      registered:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"
        "400":
          $ref: "#/components/responses/BadRequest"
        "401":
          $ref: "#/components/responses/Unauthorized"
    delete:
      operationId: deregisterPush
      summary: Deregister from push notifications
      description: |
        Remove all APNs device tokens for the authenticated user.
        Call on sign-out.
      responses:
        "200":
          description: Tokens removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      deregistered:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"
        "401":
          $ref: "#/components/responses/Unauthorized"

  /auth/apple:
    post:
      operationId: signInWithApple
      summary: Sign in with Apple
      description: |
        Authenticate using an Apple identity token from Sign in with Apple (native iOS).
        Returns a Bearer token for all subsequent API calls. Unauthenticated — this IS the sign-in.

        The `user` object (name, email) is only provided by Apple on first sign-in.
        Always send it when available. The `nonce` is required for replay protection.
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [identity_token, nonce]
              properties:
                identity_token:
                  type: string
                  description: JWT identity token from Apple Sign in
                nonce:
                  type: string
                  description: Random nonce for replay protection. SHA256-hash it for the Apple request, send the raw string here
                user:
                  type: object
                  properties:
                    name:
                      type: string
                    email:
                      type: string
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: Bearer token for API calls
                      is_new_account:
                        type: boolean
                        description: True if a new MixMates account was created
                      listen_enabled:
                        type: boolean
                        description: True if the account has Listen enabled (paid tier)
        "400":
          description: Missing or invalid parameters (missing_token, missing_nonce, nonce_reused)
        "401":
          description: Token signature verification failed (token_invalid)
        "429":
          description: Rate limited (5/min per IP)

  /auth/google:
    post:
      operationId: signInWithGoogle
      summary: Sign in with Google
      description: |
        Authenticate using a Google ID token from Credential Manager (native Android).
        Returns a Bearer token for all subsequent API calls. Unauthenticated — this IS the sign-in.

        Use the MixMates web client ID with Credential Manager. Set the nonce via `setNonce()`.
      security: []
      tags: [Auth]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [id_token, nonce]
              properties:
                id_token:
                  type: string
                  description: JWT ID token from Google Sign-In
                nonce:
                  type: string
                  description: Random nonce for replay protection. Set via setNonce() on Credential Manager request
                name:
                  type: string
                  description: User's display name (from Google profile)
      responses:
        "200":
          description: Authentication successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                        description: Bearer token for API calls
                      is_new_account:
                        type: boolean
                        description: True if a new MixMates account was created
                      listen_enabled:
                        type: boolean
                        description: True if the account has Listen enabled (paid tier)
        "400":
          description: Missing or invalid parameters (missing_token, missing_nonce, nonce_reused)
        "401":
          description: Token signature verification failed (token_invalid)
        "429":
          description: Rate limited (5/min per IP)

  /auth/token:
    post:
      operationId: createToken
      summary: Generate API token
      description: |
        Generate a new Bearer token. **Session auth only** — call this from the web UI,
        not with an existing Bearer token.
      security:
        - SessionAuth: []
      responses:
        "200":
          description: New token
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      token:
                        type: string
                      created_at:
                        type: string
                        format: date-time
                  meta:
                    $ref: "#/components/schemas/Meta"
    delete:
      operationId: revokeToken
      summary: Revoke current token
      description: |
        Revoke the current token. All tokens issued before this timestamp become invalid.
        **Session auth only.**
      security:
        - SessionAuth: []
      responses:
        "200":
          description: Token revoked
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      revoked:
                        type: boolean
                  meta:
                    $ref: "#/components/schemas/Meta"

  /auth/me:
    get:
      operationId: getMe
      summary: Token introspection
      description: Verify your token and get user info. Accepts both Bearer and session auth. The `rate_limit` field is always null - rate limiting is handled server-side and not exposed to clients.
      security:
        - BearerAuth: []
        - SessionAuth: []
      responses:
        "200":
          description: User info
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    properties:
                      user:
                        type: object
                        properties:
                          id:
                            type: string
                          display_name:
                            type: string
                          role:
                            type: string
                            enum: [paid, paid_plus, vip, admin]
                          listen_enabled:
                            type: boolean
                          preferred_platform:
                            type: ["string", "null"]
                            enum: [spotify, tidal, appleMusic, null]
                      rate_limit:
                        type: ["object", "null"]
                        properties:
                          limit:
                            type: integer
                          remaining:
                            type: integer
                          reset_at:
                            type: integer
                            description: Unix timestamp
                  meta:
                    $ref: "#/components/schemas/Meta"

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      description: API token from MixMates Settings
    SessionAuth:
      type: apiKey
      in: cookie
      name: session
      description: Session cookie (web UI only)

  parameters:
    HistoryId:
      name: id
      in: path
      required: true
      schema:
        type: string
      description: History entry ID

  headers:
    X-RateLimit-Limit:
      schema:
        type: integer
      description: Maximum requests per window
    X-RateLimit-Remaining:
      schema:
        type: integer
      description: Remaining requests in current window
    X-RateLimit-Reset:
      schema:
        type: integer
      description: Unix timestamp when the window resets

  schemas:
    Meta:
      type: object
      properties:
        request_id:
          type: string
          pattern: "^req_[a-f0-9]{12}$"
          example: req_a1b2c3d4e5f6
        timestamp:
          type: string
          format: date-time

    Track:
      type: ["object", "null"]
      description: "null when status is no_match"
      properties:
        title:
          type: string
        artist:
          type: string
        thumbnail:
          type: ["string", "null"]
        shortcode:
          type: ["string", "null"]
        share_url:
          type: ["string", "null"]
          example: https://mixmat.es/aBcDeF12
        platforms:
          $ref: "#/components/schemas/Platforms"

    Platforms:
      type: object
      properties:
        spotify:
          type: ["string", "null"]
        tidal:
          type: ["string", "null"]
        appleMusic:
          type: ["string", "null"]

    HistoryItem:
      type: object
      properties:
        id:
          type: string
        title:
          type: string
        artist:
          type: string
        thumbnail:
          type: ["string", "null"]
        shortcode:
          type: ["string", "null"]
        share_url:
          type: ["string", "null"]
        platforms:
          $ref: "#/components/schemas/Platforms"
        created_at:
          type: string
          format: date-time

    HistoryItemDetail:
      allOf:
        - $ref: "#/components/schemas/HistoryItem"
        - type: object
          properties:
            shared_to:
              type: array
              items:
                type: object
                properties:
                  group_id:
                    type: string
                  group_name:
                    type: string

    Group:
      type: object
      properties:
        id:
          type: string
        name:
          type: string
        description:
          type: ["string", "null"]

    Recording:
      type: object
      properties:
        recording_id:
          type: string
          description: Use this ID in GET /recordings/{recording_id}
        created_at:
          type: ["string", "null"]
          format: date-time
        outcome:
          type: ["string", "null"]
        title:
          type: ["string", "null"]
        artist:
          type: ["string", "null"]
        mime_type:
          type: ["string", "null"]

    ErrorResponse:
      type: object
      properties:
        error:
          type: object
          properties:
            code:
              type: string
              description: Machine-readable error code
            message:
              type: string
              description: Human-readable message
        meta:
          $ref: "#/components/schemas/Meta"

  responses:
    BadRequest:
      description: Invalid request
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    Unauthorized:
      description: Authentication required or invalid
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"
    RateLimited:
      description: Rate limit exceeded
      headers:
        Retry-After:
          schema:
            type: integer
          description: Seconds until the rate limit window resets
      content:
        application/json:
          schema:
            $ref: "#/components/schemas/ErrorResponse"

